body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-size: 20%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #5801a5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ffffff;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000000;
    padding: 9px;
    text-align: center;
}

th {
    background-color: #fd4141d8;
}

tr:nth-child(even) {
    background-color: #fd4141d8;
}

#myChart {
    max-width: 600px; /* Ancho máximo del gráfico */
    margin: 20px auto; /* Centrado horizontalmente */
    background-color: #f0f0f0; /* Color de fondo del gráfico */
    border-radius: 8px; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaciado interno */
}